# IF ELSE STATEMENT

In [1]:
x=30
if x==30:
    print('x is greater than 20')
else:
    print('x is less than 30')

x is greater than 20

In [7]:
city = 'Mumbai'

if city == 'New Delhi':
    print('Welcome to Indian capital.')
elif city == 'Mumbai':
    print('Welcome to the fanacial capital of India.')
elif city == 'Pune':
    print('Welcome to IT hub of Maharashtra.')
else:
    print('Where are you?')

Welcome to the fanacial capital of India.

In [11]:
person = 'Johnny'
if person == 'Peter':
    print(f'Welcome {person}!')
else:
    print("Welcome! What's your name.")

Welcome! What's your name

In [27]:
n1 = 8
n2 = 10

if n1 > 0:
    if n2<=10:
        print(n1+n2)
    else:
        print("Should be greater than 10.")
elif n1<0:
    print("That's a Negative Number.")
else:
    print('Number is 0.')

18

THEUTHY & FALSY

In [28]:
if False:
    print('What do you say?')
else:
    print('I have nothing to say')

I have nothing to say

# LOOPS

In [1]:
Sentence = 'Every action has an equal and apposite reaction'

In [4]:
for char in Sentence:
    print(f" The character is {char}")

 The character is E
 The character is v
 The character is e
 The character is r
 The character is y
 The character is
 The character is a
 The character is c
 The character is t
 The character is i
 The character is o
 The character is n
 The character is
 The character is h
 The character is a
 The character is s
 The character is
 The character is a
 The character is n
 The character is
 The character is e
 The character is q
 The character is u
 The character is a
 The character is l
 The character is
 The character is a
 The character is n
 The character is d
 The character is
 The character is a
 The character is p
 The character is p
 The character is o
 The character is s
 The character is i
 The character is t
 The character is e
 The character is
 The character is r
 The character is e
 The character is a
 The character is c
 The character is t
 The character is i
 The character is o
 The character is n

In [6]:
for index,char in enumerate(Sentence):
    print(F' The index is {index} and value is {char}')

 The index is 0 and value is E
 The index is 1 and value is v
 The index is 2 and value is e
 The index is 3 and value is r
 The index is 4 and value is y
 The index is 5 and value is
 The index is 6 and value is a
 The index is 7 and value is c
 The index is 8 and value is t
 The index is 9 and value is i
 The index is 10 and value is o
 The index is 11 and value is n
 The index is 12 and value is
 The index is 13 and value is h
 The index is 14 and value is a
 The index is 15 and value is s
 The index is 16 and value is
 The index is 17 and value is a
 The index is 18 and value is n
 The index is 19 and value is
 The index is 20 and value is e
 The index is 21 and value is q
 The index is 22 and value is u
 The index is 23 and value is a
 The index is 24 and value is l
 The index is 25 and value is
 The index is 26 and value is a
 The index is 27 and value is n
 The index is 28 and value is d
 The index is 29 and value is
 The index is 30 and value is a
 The index is 31 and value is p
 The index is 32 and value is p
 The index is 33 and value is o
 The index is 34 and value is s
 The index is 35 and value is i
 The index is 36 and value is t
 The index is 37 and value is e
 The index is 38 and value is
 The index is 39 and value is r
 The index is 40 and value is e
 The index is 41 and value is a
 The index is 42 and value is c
 The index is 43 and value is t
 The index is 44 and value is i
 The index is 45 and value is o
 The index is 46 and value is n

In [9]:
words = Sentence.split(' ')
print(words)

['Every', 'action', 'has', 'an', 'equal', 'and', 'apposite', 'reaction']

In [10]:
days = ('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday')
days

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

In [11]:
for day in days:
    print(f"Today is {day}")

Today is Sunday
Today is Monday
Today is Tuesday
Today is Wednesday
Today is Thursday
Today is Friday
Today is Saturday

In [12]:
country_city_river_list = [('India','New Delhi','Ganga'),('Australia','canberra','rovea'),('US','Washington DC','pqr'),('England','London','xyz')]

In [16]:
for country,city,river in country_city_river_list:
    print(f'The capital of country {country} is {city} and it also has river {river}.')

The capital of country India is New Delhi and it also has river Ganga.
The capital of country Australia is canberra and it also has river rovea.
The capital of country US is Washington DC and it also has river pqr.
The capital of country England is London and it also has river xyz.

In [29]:
i = 1
while i<=10:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

In [34]:
i = 1
while i<=10:
    print(i)
    if i>=5:
        break
    print("Data Science")
    i = i+1

1
Data Science
2
Data Science
3
Data Science
4
Data Science
5

In [35]:
i = 1
while i<=10:
    print(i)
    i+=1
    if i==5:
        break

1
2
3
4

In [41]:
i = 1
while i<=5:
    print(i)
    i+=1
    if i==3:
        continue
    print('Python')
    print('\n')

1
Python


2
3
Python


4
Python


5
Python

In [47]:
x = 0
while x<10:
    print('x is currently: ', x)
    print('x is still less than 10, adding 1 to x')
    x+=1
    if x==5:
        print('x==5')
        break
    else:
        print('continuing...')
        continue

x is currently:  0
x is still less than 10, adding 1 to x
continuing...
x is currently:  1
x is still less than 10, adding 1 to x
continuing...
x is currently:  2
x is still less than 10, adding 1 to x
continuing...
x is currently:  3
x is still less than 10, adding 1 to x
continuing...
x is currently:  4
x is still less than 10, adding 1 to x
x==5

In [30]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [4]:
for i in range(5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [3]:
#print table of 3 using for loop
for a in range(1,11):
    #print('3*',a,' = ',3*a)
    print (f'3*{a} = {3*a}')

3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
3*10 = 30

In [43]:
x = 0
rows=5
for i in range(1,rows+1):
    for space in range(1,(rows-i)+1):
        print(end="  ")
        
    while x!=(2*i-1):
        print("*",end=" ")
        x+=1
    x=0
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [1]:
i=1
while i<=10:
    print(i)
    i+=1
    if i==5:
        break
    print("Python")

1
Python
2
Python
3
Python
4

In [5]:
i=1
while i<=10:
    print(i)
    i+=1
    if i==6:
        continue
    print("Python")
    print('\n')

1
Python


2
Python


3
Python


4
Python


5
6
Python


7
Python


8
Python


9
Python


10
Python

Program to find reverse of a number

In [5]:
n = int(input('Please enter a number you want to revese:- '))
rev = 0
while(n>0):
    rem=n%10
    rev = rev*10+rem
    n=n//10  #n=int(n/10) also can be used
print('reverse of number is ',rev)

Please enter a number you want to revese:- 7892
reverse of number is  2987

In [9]:
for i in range(1,5):
    for j in range(1,(i+1)):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4